/*	BLUE COLOR: 	#161f29;
	GREEN COLOR: 	#06845d
*/

.jumbotron {
    background-color: white;
}

.carousel {
    max-width: 1400px;
}

a:hover {
    text-decoration: none;
}

del {
    color: #06845d;
    padding: 0;
    margin: 0;
    display: inline;
}

span.hot {
    background-color: #E63630;
    padding: 4px 10px;
    font-size: 16px;
    font-style: italic;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    margin: -30px -18px 0 0;
}

h4.hot {
    color: red;
}

span.comment {
    font-size: 11px;
    font-style: italic;
    color: #888;
}

h4.bg-primary, h4.bg-info, h4.bg-warning, h4.bg-danger {
    padding: 20px;
}

span.bg-hot {
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    background-color: #E63630;
    color: white;
    border-radius: 4px;
}

.navbar-default {
    background-color: #161f29;
    border: none;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #06845d;
    transition: all 0.2s;
}

.navbar-default .navbar-nav>li>a:checked {
    color: white;
    transition: all 0.2s;
}


.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

li.menu-li:hover {
    border-bottom: 4px solid #06845d;
    color: #06845d;
    transition: all 0.2s;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #06845d;
    border-color: #06845d;
}

a.navbar-brand-logo span:hover {
    color: #06845d;
    transition: all 0.2s;
}

a.last-nav-bar-href {
    margin-right: 15px;
}

input.nav-bar-submit {
    background-color: transparent;
    border: none;
    color: white;
}

input.nav-bar-submit:hover {
    color: #06845d;
}

a.navbar-brand-logo span:active {
    color: #06845d;
}

a.navbar-brand-logo span:focus {
    color: #06845d;
}

span.vert-line {
    font-size: 32px;
    color: #ccc;
    font-weight: normal;
    padding: 0px 20px;
    margin-top: 20px;
}

img.img-header-lang {
    margin-top: 2px;
    margin-bottom: 2px;
    height: 20px;
    width: 30px;
    padding: 0px;
}

li.li-lang {
    padding: 0 0 4px 0;
    margin: 0px;
}

img.img-header-logo {
    padding-top: 0px;
    margin-top: -12px;
}

img.img-header-menu {
    background-color: white;
    height: 35px;
    width: 45px;
    padding-top: 0px;
    margin-top: -6px;
}

img.img-header-menu:hover {
    background-color: #06845d;
    transition: all 0.2s;
}

.alert {
    padding: 20px 15px 20px 15px;
    font-size: 16px;
    box-shadow: none;
    color: white;
    border: none;
    border-radius: 0;
    width: 100%;
    position: absolute;
    z-index: 1500;
}

.alert-header {
    margin-top: 60px;
}

.alert-danger {
    box-shadow: none;
    background-color: #E74C3C;
    color: white;
    border: none;
    border-radius: 0;
}

.alert-success {
    box-shadow: none;
    background-color: #4cae4c;
    color: white;
    border: none;
    border-radius: 0;
}

.alert-info {
    box-shadow: none;
    background-color: #28a4c9;
    color: white;
    border: none;
    border-radius: 0;
}

span.shopping-cart {
    margin-right: 20px;
}

button.header-btn {
    padding: 5px 20px;
    margin: -20px 0px;
    background-color: #161f29;
    border-color: #06845d;
    color: #06845d;
}

button.header-btn:hover {
    background-color: #046c4c;
    color: white;
    border-color: #044a43;
    transition: all 0.2s;
}

button.header-btn:active {
    background-color: #161f29;
    color: #06845d;
    border-color: #06845d;
}

/*----------------------- carousel -------------------------*/
.carousel-caption {
    padding-top: -50px;
    margin-top: -50px;
}

a.btn-carousel {
    color: white;
    background-color: transparent;
    padding: 10px 50px;
    border: 2px solid white;
}

a.btn-carousel:hover {
    background-color: transparent;
    border: 2px solid #046c4c;
    transition: all 0.2s;
}

h1.carousel-h1 {
    margin-bottom: 0px;
    letter-spacing: 4px;
}

h2.carousel-h2 {
    letter-spacing: 2px;
    padding: -5px 0px;
    margin: 5px 0px;
}

h2.carousel-price {
    font-weight: bold;
    color: #06845d;
}

/*------------------------------- Modal -------------------------------*/

.modal-dialog {
    border-radius: 0px;
}

input.form-input {
    border-radius: 0px;
    box-shadow: none;
    padding: 5px;
    padding-bottom: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    letter-spacing: 1px;
    transition: all 0.2s;
}

input.form-input:active {
    box-shadow: none;
    padding-bottom: 5px;
    border-bottom: 4px solid #06845d;
    transition: all 0.1s;
}

input.form-input:focus {
    box-shadow: none;
    padding-bottom: 5px;
    border-bottom: 4px solid #06845d;
}

.form-btn {
    box-shadow: none;
    padding: 5px 20px;
    background-color: white;
    border: 1px solid #06845d;
    color: #06845d;
}

.form-btn-red {
    color: #E74C3C;
    border-color: #E74C3C;
}

.form-btn-yellow {
    color: #f0ad4e;
    border-color: #f0ad4e;
}

.form-btn-yellow-active {
    background-color: #f0ad4e;
    color: white;
    border-color: white;
}

.form-btn-info {
    color: #2e6da4;
    border-color: #2e6da4;
}

.form-btn:hover {
    box-shadow: none;
    background-color: #06845d;
    color: white;
    border-color: #06845d;
    transition: all 0.2s;
}

.form-btn-red:hover {
    background-color: #E74C3C;
    color: white;
    border-color: #E74C3C;
}

.form-btn-yellow:hover {
    background-color: #f0ad4e;
    color: white;
    border-color: #f0ad4e;
}

.form-btn-yellow-active:hover {
    background-color: white;
    color: #f0ad4e;
    border-color: #f0ad4e;
}

.form-btn-info:hover {
    background-color: #2e6da4;
    color: white;
    border-color: #2e6da4;
}

.form-btn:active {
    box-shadow: none;
    background-color: #06845d;
    color: white;
    border-color: #06845d;
}

.form-btn:focus {
    box-shadow: none;
    background-color: #06845d;
    color: white;
    border-color: #06845d;
}

.form-btn-red:active {
    background-color: #E74C3C;
    color: white;
    border-color: #E74C3C;
}

.form-btn-yellow:active {
    background-color: #f0ad4e;
    color: white;
    border-color: #f0ad4e;
}

.form-btn-yellow-active:active {
    background-color: white;
    color: #f0ad4e;
    border-color: white;
}

.form-btn-info:focus {
    box-shadow: none;
    background-color: #2e6da4;
    color: white;
    border-color: #2e6da4;
}

.form-btn-red:focus {
    background-color: #E74C3C;
    color: white;
    border-color: #E74C3C;
}

.form-btn-yellow:focus {
    background-color: #f0ad4e;
    color: white;
    border-color: #f0ad4e;
}

.form-btn-yellow-active:focus {
    background-color: white;
    color: #f0ad4e;
    border-color: white;
}

.form-btn-info:focus {
    background-color: #2e6da4;
    color: white;
    border-color: #2e6da4;
}
/*------------------------------ Main title -------------------------------*/
a.btn-main {
    padding: 10px 70px;
    background-color: transparent;
    border-color: #06845d;
    color: #06845d;
}

a.btn-main:hover {
    background-color: #046c4c;
    color: white;
    border-color: #044a43;
    transition: all 0.2s;
}

.menu-title:hover {
    cursor: pointer;
}

/*--------------------------- Main menu -----------------------------*/
hr.menu-hr {
    margin: 0px;
    padding: 0px;
}

.menu-title {
    text-align: center;
    border-bottom: 4px solid white;
    padding: 10px;
}

.menu-title:hover {
    font-weight: bold;
    border-color: #046c4c;
    transition: all 0.4s;
}

.menu-title a {
    letter-spacing: 1px;
    color: #046c4c;
    font-size: 20px;
    text-decoration: none;
}

.menu-title-active {
    font-weight: bold;
    border-color: #046c4c;
}

/*---------------------------- cbp menu --------------------------*/
.cbp-spmenu {
    margin-top: 0px;
    background: #161f29;
    position: fixed;
}

.cbp-spmenu h3 {
    border-left: 4px solid #161f29;
    color: #046c4c;
    font-size: 1em;
    padding: 10px;
    margin: 0;
    font-weight: 300;
    background: white;
}

.cbp-spmenu a {
    padding: 0px;
    border-left: 4px solid #161f29;
    text-decoration: none;
    display: block;
    color: white;
    font-size: 1.5em;
    font-weight: 300;
}

.cbp-spmenu a:hover {
    border-color: #046c4c;
    color: #046c4c;
    transition: all 0.2s;
}

.cbp-spmenu a:active {
    background: #046c4c;
    color: white;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
    padding-top: 80px;
    width: 360px;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.cbp-spmenu-vertical a {
    /*border-bottom: 1px solid #258ecd;*/
    padding: 7px;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
    transition: all 0.2s;
    left: -360px;
}

.cbp-spmenu-left.cbp-spmenu-open {
    transition: all 0.2s;
    left: 0px;
}

a.menu-second {
    padding-left: 30px;
}

a.menu-other {
    padding-left: 60px;
}

/*-------------------------------- Catalog ----------------------------*/

.tour {
    border-radius: 5px;
    height: 430px;
    width: 280px;
    border: 1px solid #e6e6e6;
    padding: 10px;
    margin: 20px 20px 20px 33px;
}

.tour h3,h4 {
    color: #161f29;
}

.tour i {
    color: #06845d;
}

.tour i.hot {
    color: #E63630;
    font-size: 22px;
    font-weight: bold;
}

.tour:hover {
    border-color: #06845d;
    color: white;
    transition: all 0.2s;
}

.tour img {
    height: 50%;
    width: 100%;
}

/*--------------------------------- Media -----------------------------*/

.media {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

.media:hover {
    border-color: #06845d;
    transition: all 0.2s;
}

img.media-object {
    height: 175px;
    width: 350px;
}

p.media-text {
    font-size: 18px;
}

a.media-href {
    vertical-align: bottom;
    text-align: right;
}

/*---------------------------- Footer -----------------------------*/

footer {
    background-color: #161f29;
    padding: 40px 0px;
    width: 100%;
}

.footer strong {
    color: white;
    padding-bottom: 20px;
}

.footer p, .footer a {
    margin: 0px 0 5px 100px;
    color: #7F8C8D;
}

.footer a:hover {
    text-decoration: none;
    color: #06845d;
    transition: all 0.2s;
}

p.copyright {
    color: #BDC3C7;
    margin: 30px 0px -20px -20px;
}

/*------------------------------------- Add tours ----------------------------------------*/

img.form-media-object {
    height: 100px;
    width: 200px;
}

p.form-media-text {
    font-size: 14px;
}

/*------------------------------------ Admin -----------------------------------------*/

img.img-small {
    height: 50px;
    width: 50px;
}

/*------------------------------ Catalog -------------------------------------------*/

img.img-catalog {
    padding: 5px 0px;
    height: 100px;
    width: 130px;
}

.catalog-tour {
    padding: 15px;
    border: 2px solid #ccc;
}

.catalog-tour:hover {
    border-color: #06845d;
    transition: all 0.2s;
}

ul.pagination {
    left: 50%;
    text-align: center;
    margin: auto;
}

/*----------------------------- Tour info ----------------------------------------------*/

img.img-info {
    height: 340px;
    width: 370px;
}

/*---------------------------- Pagination --------------------------------------*/

.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.pagination>li>a, .pagination>li>span {
    color: #06845d;
    border: 2px solid #ccc;
    margin: 1px;
}

.pagination>li>a:hover, .pagination>li>span:hover {
    border-color: #06845d;
    background-color: transparent;
    transition: all 0.2s;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #06845d;
    border-color: #06845d;
}

.vcenter {
    display: inline-block;
    float: none;
    vertical-align: middle;
}
